@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html, body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  font-weight: bold;
  color: #1D1D1D;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input {
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 120.1rem;
  margin: auto;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3.5rem 0 1.6rem;
}
.header-top img {
  width: 15.8rem;
  height: 10.5rem;
}
.header-top__info {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.header-top__elem {
  display: flex;
  align-items: center;
}
.header-top__elem img {
  width: 2.4rem;
  height: 2.4rem;
}
.header-top__elem p {
  font-size: 1.6rem;
  line-height: 118%;
  max-width: 19.4rem;
  margin-left: 0.5rem;
}
.header-top__elem:not(:last-child) {
  margin-bottom: 1rem;
}
.header-bottom {
  background: #A21D22;
  color: #fff;
}
.header-bottom__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 0;
}
.header-bottom__navigation li:not(:last-child) {
  margin-right: 3rem;
}
.header-bottom__navigation li a {
  font-size: 1.6rem;
  line-height: 119%;
  text-transform: uppercase;
}

@media (max-width: 670px) {
  .header-top {
    flex-direction: column;
    margin: 3rem 0 2.3rem;
  }
  .header-top__info {
    margin-top: 2.1rem;
  }
  .header-bottom__navigation {
    display: none;
  }
}
.menu-btn {
  display: flex;
  text-align: center;
  padding: 1.7rem 0 1.6rem;
  width: 7.3rem;
  margin: auto;
  align-items: center;
  display: none;
}
.menu-btn .burger {
  position: relative;
  margin-right: 1.7rem;
}
.menu-btn span, .menu-btn span::before, .menu-btn span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.1rem;
  margin-left: -1rem;
  width: 2rem;
  height: 0.2rem;
  background: #fff;
}
.menu-btn span::before, .menu-btn span::after {
  content: "";
}
.menu-btn span::before {
  transform: translateY(-0.6rem);
}
.menu-btn span::after {
  transform: translateY(0.6rem);
}
.menu-btn p {
  font-size: 1.6rem;
  line-height: 118%;
}

.burger-menu {
  background: #C3C3C3;
  color: #000;
  max-width: 25rem;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  max-height: 0;
}
.burger-menu.active-menu {
  max-height: 100%;
}

.header-bottom__navigation-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.4rem;
  line-height: 117%;
  text-transform: uppercase;
  padding: 1rem;
}
.header-bottom__navigation-mobile li:not(:last-child) {
  margin-bottom: 0.9rem;
}

@media (max-width: 670px) {
  .menu-btn {
    display: flex;
  }
}
.slider {
  margin-top: 5rem;
}
.slider-block {
  width: 100%;
  max-width: 120rem;
  max-height: 38rem;
  height: 100vh;
  background: #D9D9D9;
}
.slider-block__btns {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-block__btns img {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}
.slider-block__btns #slider-block__btns-next {
  transform: rotate(180deg);
}
.slider-block__botbars {
  cursor: pointer;
  margin-top: -3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-block__botbars .slider-block__botbar {
  width: 100%;
  max-width: 9rem;
  height: 1.4rem;
  background: rgba(29, 29, 29, 0.66);
  border-radius: 10px;
}
.slider-block__botbars .slider-block__botbar:not(:last-child) {
  margin-right: 1.9rem;
}
.slider-block__botbars .slider-block__botbar.active-bar {
  background: #A21D22;
}

@media (max-width: 670px) {
  .slider {
    margin: 3rem 1.5rem 0;
  }
  .slider-block {
    max-width: 29rem;
    max-height: 17.8rem;
    margin: auto;
  }
  .slider-block__btns img {
    width: 2.4rem;
    height: 2.4rem;
  }
  .slider-block__botbars {
    margin-top: -5%;
  }
  .slider-block__botbars .slider-block__botbar {
    width: 2.158rem;
    height: 0.564rem;
  }
  .slider-block__botbars .slider-block__botbar:not(:last-child) {
    margin-right: 0.456rem;
  }
}
.title {
  font-size: 3.6rem;
  line-height: 117%;
  text-transform: uppercase;
  margin: 10rem 0 3rem;
}

.folk-arts__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2rem;
}
.folk-arts__art {
  max-width: 38.7rem;
  width: 100%;
}
.folk-arts__art img {
  max-width: 38.7rem;
  max-height: 24.9rem;
  border-radius: 5px;
  overflow: hidden;
  padding-right: 1rem;
}
.folk-arts__art h3 {
  font-size: 2.6rem;
  line-height: 117%;
  margin: 2rem 0 1.5rem;
}
.folk-arts__art p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 118%;
  margin-bottom: 1.5rem;
}
.folk-arts__art a {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 20.451rem;
  max-height: 6.5rem;
  height: 100vh;
  width: 100%;
  background: #A21D22;
  border-radius: 5px;
  font-size: 1.6rem;
  line-height: 118%;
  color: #fff;
}

@media (max-width: 670px) {
  .folk-arts__list {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 100%;
    grid-column-gap: 0;
    grid-row-gap: 2rem;
  }
  .folk-arts__art {
    flex-direction: column;
    margin: auto;
    max-width: 29rem;
    padding: 0 1rem 0;
  }
  .folk-arts__art img {
    padding-right: 0;
    max-width: 29rem;
    max-height: 19.1rem;
  }
  .folk-arts__art h3 {
    margin: 1.5rem 0 0.5rem;
  }
  .folk-arts__art p {
    max-width: 29rem;
    margin-bottom: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
