-
	const botBars = [
		{
			"isActive": true
		},
		{
			"isActive": false
		},
		{
			"isActive": false
		},
		{
			"isActive": false
		}
	];

section.slider
	.slider-block
		.slider-block__btns
			img(src="img/arrow-btn.svg", alt="Стрелочка слайдера влево", id="slider-block__btns-prev")
			img(src="img/arrow-btn.svg", alt="Стрелочка слайдера вправо", id="slider-block__btns-next")
		.slider-block__botbars
			each botBar in botBars
				if(botBar.isActive)
					.slider-block__botbar.active-bar
				else
					.slider-block__botbar