//- The basic template for any page of this project

-   
	const siteTitle = "Народное искусство России";
	const siteLang = "ru";
	const siteCharset = "UTF-8";

doctype html
html(lang=siteLang)
	head
		meta(charset=siteCharset)
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{siteTitle}
        
		//- Styles
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/style.css")
	body
		block content